
<div class="row">
    <div class="col-xs-12">
        <h1 class="header">about me</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <img class="self-portrait" src="assets/me.jpg" alt="Photo of Quaid">
    </div>
    <div class="col-xs-6">
        <h4 class="subheading">
            <span class="primary-text">21 Years-old</span>
            <span class="blended-text"> / </span> 
            <span class="primary-text">Developer</span>
            <span class="blended-text"> / </span> 
            <span class="primary-text">Student</span>
        </h4>
    </div>
    <div class="col-xs-12">
        <p>
            I am a Senior studying Marketing and Information Systems with a minor in Computer Science at Miami University. 
            I have a passion for learning and implementing technical solutions using cutting-edge technologies.
        </p>
    </div>
</div>