<mat-tab-group mat-align-tabs="center" [animationDuration]="animationDuration" dynamicHeight #tabs>
    <mat-tab label="About Me">
        <div class="wrap container-fluid">
            <app-about-me></app-about-me>
        </div>
    </mat-tab>

    <mat-tab label="My Goals">
        <div class="wrap container-fluid">
            <app-goals></app-goals>
        </div>
    </mat-tab>

    <mat-tab label="My Role">
        <div class="wrap container-fluid">
            <app-my-role></app-my-role>
        </div>
    </mat-tab>

    <mat-tab label="User Stories">
        <div class="wrap container-fluid">
            <app-user-stories></app-user-stories>
        </div>
    </mat-tab>

    <mat-tab label="Takeaways">
        <div class="wrap container-fluid">
            <app-takeaways></app-takeaways>
        </div>
    </mat-tab>

    <mat-tab label="Wrap-Up">
        <div class="wrap container-fluid">
            <app-wrap-up></app-wrap-up>
        </div>
    </mat-tab>
</mat-tab-group>