* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    margin: 0px;
    background-color: #303030;
    color: #ffffff;
}

.container {
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
    box-sizing: border-box;
    max-width: 1500px;
}

//=============== Utility Classes
.header {
    margin: 0.5em 0 0.25em 0;
    font-size: 2.5em;
}

.subheading {
    font-size: 1.1em;
}

//=============== Text Colors
.blended-text {
    color: #616161 !important;
}

//=============== Colors
$primary-color: rgb(145, 152, 255);
$start-gradient: rgba(0,18,255,1);
$end-gradient: rgba(213,1,254,1);

.primary {
    background: $primary-color !important;
    color: #ffffff !important;
}

.primary-text {
    color: $primary-color !important;
}

.gradient {
    background: linear-gradient(125deg, $start-gradient 0%, $end-gradient 130%) !important;
}

.gradient-2 {
    background: linear-gradient(125deg, $start-gradient 0%, $end-gradient 110%) !important;
}
