body {
    margin: 0px;
    background-color: #2b2b2b;
    color: #ffffff;
}

.container {
    padding-right: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
