<br>

<div class="row middle-xs center-xs">
    <div class="col-xs-4">
        <img class="logo" src="/assets/ftd-logo.png" alt="Fifth Third Direct Logo">
    </div>
    <div class="col-xs-8">
        <h1 class="light">Fifth Third Direct Experience Squad</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-blue">
            <mat-card-title>
                Developer
            </mat-card-title>
            <mat-card-subtitle class="ft-blue">
                My "Assigned" Role
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Some Words
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-blue">
            <mat-card-title>
                Agilist
            </mat-card-title>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Some Words
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-blue">
            <mat-card-title>
                Quality Assurance
            </mat-card-title>
        </mat-card>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Some Words
    </div>
</div>
