<br>
<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-lapis">
            <mat-card-title>
                My Future Plans
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col-xs-12">
        <br>
    </div>
    <div class="col-xs-offset-1 col-xs-5 center-xs">
        <mat-card class="ft-style-card-60 ft-green" style="border-radius: 0px 60px 0px 60px">
            <mat-card-title>
                <img class="expand" src="/assets/phone-lock.svg" alt="Cyber Security Icon">
                <h3>Cyber Security</h3>
            </mat-card-title>
        </mat-card>
    </div>
    <div class="col-xs-5 center-xs">
        <mat-card class="ft-style-card-60 ft-green">
            <mat-card-title>
                <img class="expand" src="/assets/code.svg" alt="Code Icon">
                <h3>Software Development</h3>
            </mat-card-title>
        </mat-card>
    </div>
</div>

<div class="row">
    <br>
</div>

<div class="row center-xs">
    <div class="col-xs-5 center-xs">
        <mat-card class="ft-style-card-60 ft-green">
            <mat-card-title>
                <img class="expand" src="/assets/business.svg" alt="Business Icon">
                <h3>Business Analyst</h3>
            </mat-card-title>
            <mat-card-subtitle class="ft-green">
                (Agilist or Product Owner)
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>