<br>

<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-green">
            <mat-card-title>
                Key Takeaways
            </mat-card-title>
        </mat-card>
    </div>
</div>

<div class="row center-xs">
    <div class="col-xs-12" style="margin-bottom: 1em;">
        <h2>Technical / Development Skills</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-pearl">
            <mat-card-title>
                Angular Development
            </mat-card-title>
            <img mat-card-image class="card-img" src="/assets/angular-logo.png" alt="Angular Logo">
            <mat-card-subtitle class="ft-pearl">
                User Interfaces (Front-End)
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-pearl">
            <mat-card-title>
                Spring Framework
            </mat-card-title>
            <img mat-card-image class="card-img" src="/assets/spring-icon.png" alt="Spring Logo">
            <mat-card-subtitle class="ft-pearl">
                Back-End Data Handler
            </mat-card-subtitle>
        </mat-card>

    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-pearl">
            <mat-card-title>
                API's
            </mat-card-title>
            <img mat-card-image class="card-img" src="/assets/apiicon.svg" alt="API Logo">
            <mat-card-subtitle class="ft-pearl">
                Data Transfer
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-pearl">
            <mat-card-title>
                Agile Methodologies
            </mat-card-title>
            <img mat-card-image class="card-img" src="/assets/agile-icon.png" alt="Agile Logo">
            <mat-card-subtitle class="ft-pearl">
                Rapid & Iterative App Dev
            </mat-card-subtitle>
        </mat-card>
    </div>

    <div class="col-xs-12" style="margin-bottom: 1em;">
        <h2>Soft / Life Skills</h2>
        <mat-divider></mat-divider>
    </div>
</div>