<div fxLayout.xs="column" fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="center center" class="margin-1em">
    <div fxFlex.lt-sm="100%" fxFlex.gt-xs="30%">
        <img class="image" src="assets/oops.png" alt="Oops!" />
    </div>
    <div fxFlex.lt-sm="100%" fxFlex.gt-xs="60%">
        <p class="mat-display-2 no-margin">
            Unfortunately this page does not exist!
        </p>
    </div>
</div>

<div>
    <p class="mat-body">
        I am not quite sure how you got here, but now that you are, how would you like to play a game?
        Below I have included a little game where you should try and make the dinousaur jump over all the
        stuff, ya know?
    </p>
</div>

<app-dinosaur-game></app-dinosaur-game>