::ng-deep {
    .mat-drawer-inner-container {
        overflow: unset !important;
        transition: 0.5s;
    }
    .mat-drawer {
        overflow-y: unset !important;
    }
}

mat-sidenav {
    border-radius: 0 2em 0 0;
}

mat-sidenav-content {
    transition: 0.5s;
}
