<br>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <mat-card class="ft-style-card ft-pearl">
                <mat-card-title>
                    Internship Goals
                </mat-card-title>
            </mat-card>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <mat-accordion class="example-headers-align">
                <!-- Add weight to outlined points -->
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Agile Concepts
                        </mat-panel-title>
                        <mat-panel-description>
                            Application of Agile in Software Development
                            <mat-icon>autorenew</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            Learn how to effectively communicate and collaborate in an agile squad
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Understand the positions and roles of the agilist on the agile team and learn to help
                            facilitate
                            each process of the agile sprint
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Integrate agile concepts to my development practices to continuously mitigate risk, cost,
                            and
                            time efficiency
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Software Develpment Skills
                        </mat-panel-title>
                        <mat-panel-description>
                            Best Practices and Tools for Effective Software Development
                            <mat-icon>code</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            Take the responsibility of working on a feature for the FTD platform, see it through to
                            completion, and take all responsibility for fixing defects/vulnerabilities in the feature
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Learn the development and maintence process for a full-stack application that is efficient,
                            user-friendly, and hardened-down
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Learn how to control the quality of a production application and how to utilize various tools to
                            ensure we provide our customers with the highest quality products
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Company Culture & Community Engagement
                        </mat-panel-title>
                        <mat-panel-description>
                            Making the Company and Community a Better Place
                            <mat-icon>people</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            Contribute to making the Fifth Third workplace a space that encourages people to be their
                            authentic selves
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            Encourage and empower the people of Fifth Third to participate in bettering the greater
                            Cincinnati communities
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

            </mat-accordion>
            <br>
        </div>
    </div>
</div>