<br>

<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-azurite">
            <mat-card-title>
                Collapsible Side-Navigation Component
            </mat-card-title>
        </mat-card>
    </div>
</div>

<div class="row margin-1-em">
    <div class="col-xs-12 center-xs">
        <video height="auto" width="80%" controls muted>
            <source src=/assets/collapsing-side-nav.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="row middle-xs margin-1-em">
    <div class="col-xs-6 center-xs">
        <img src="/assets/spirit-of-the-pin.jpg" alt="Spirit of the Pin Award" style="width: 75%; height: auto;">
    </div>
    <div class="col-xs-6">
        <blockquote class="blockquote-emphasized">
            "I think this is going to be a big win for our clients."
        </blockquote>
        <p>
            Tracy Jamison<br>Business Analyst II, Officer<br>Commercial Customer Center (Madisonville Ops Center)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <mat-card class="ft-style-card ft-azurite">
                <mat-card-title>
                    Account Managment Summary Export Functionality
                </mat-card-title>
            </mat-card>
        </div>
    </div>
</div>

<div class="row margin-1-em">
    <div class="col-xs-12 center-xs">
        <video height="auto" width="80%" controls muted>
            <source src="/assets/export-functionality.mp4" type="video/mp4">
        </video>
    </div>
</div>

<br>
<div class="row margin-1-em">
    <div class="col-xs-12" style="margin-bottom: 1em;">
        <h2>Other Stories</h2>
        <mat-divider></mat-divider>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-azurite">
            <mat-card-subtitle class="ft-azurite">
                QuickBooks Patching
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-azurite">
            <mat-card-subtitle class="ft-azurite">
                Account Management Defect Cleanup
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-azurite">
            <mat-card-subtitle class="ft-azurite">
                Triple-State Sorting for Account Ledger and Account Transactions
            </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="col-xs-3">
        <mat-card class="ft-style-card ft-azurite">
            <mat-card-subtitle class="ft-azurite">
                Small UI Tweaks to meet UI/UX Criteria
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>