<br>
<div class="row">
    <div class="col-xs-12">
        <mat-card class="ft-style-card ft-green">
            <mat-card-title>
                Quaid Michael DeLacluyse
            </mat-card-title>
            <mat-card-subtitle class="ft-green">
                Miami University | Farmer School of Business (Graduating in May 2020)
            </mat-card-subtitle>
        </mat-card>
    </div>

    <div class="col-xs-4">
        <blockquote>
            <strong>Areas of Study:</strong>
            <ul class="sub-list">
                <li>Information Systems</li>
                <li>Marketing</li>
                <li>Computer Science</li>
            </ul>
        </blockquote>
    </div>
    <div class="col-xs-4">
        <blockquote>
            <strong>Campus Involvement:</strong>
            <ul class="sub-list">
                <li>Sigma Alpha Mu (Social Fraternity)</li>
                <li>Men's Club Golf</li>
                <li>Blockchain Research Club</li>
            </ul>
        </blockquote>
    </div>
    <div class="col-xs-4">
        <blockquote>
            <strong>Hometown:</strong>
            Chicago, IL
        </blockquote>
        <blockquote>
            <strong>Angular Experience:</strong>
            None
        </blockquote>
    </div>
</div>
<div class="row center-xs middle-xs">
    <div class="col-xs-4">
        <img class="logo" src="/assets/miami-logo.jpg" alt="Miami Logo">
    </div>
    <div class="col-xs-4">
        <img class="logo" src="/assets/sammy-logo.jpg" alt="Sigma Alpha Mu Logo">
    </div>
    <div class="col-xs-4">
        <img class="logo" src="/assets/angular-logo.png" alt="Angular Logo">
    </div>
</div>