<mat-accordion class="margin-1em">
    <div class="row between-xs">
        <mat-expansion-panel class="col-xs-12" *ngFor="let section of accordionPanelContents" hideToggle>
    
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ section.title }}
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>{{ section.icon }}</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
    
            <div>
                <mat-card *ngFor="let tech of section.technologies" class="primary-color">
                    <mat-card-title>
                        {{ tech.name }}
                    </mat-card-title>
                    <img mat-card-image src="{{ tech.logo }}" alt="{{ tech.name }}"/>
                </mat-card>
            </div>
    
        </mat-expansion-panel>
    </div>
</mat-accordion>